// Variables go here
$ease-in: all .25s ease-in;
$ease-out: all .18s ease-out;
$in-out: all .23s ease-in-out;

$white: #ffffff;
$white-two: #f9f9f9;
$almost-black: #0b0c0e;
$azure: #1694f2;
$dark: #14181d;
$white-three: #e4e4e4;
$black: #000000;
$tomato: #ee3535;
$green-apple: rgba(80, 206, 36);

$form-bg: $almost-black;

$woodsmokeApprox: #101115;
$woodsmoke: $almost-black;
$pomegranate: $azure;